/*  Josh's Custom CSS Reset  https://www.joshwcomeau.com/css/custom-css-reset/*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
#root,
#__next {
	isolation: isolate;
}

.game-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	width: 90vw;
	height: 90vh;
}

.left,
.right {
	width: 50%;
}

.grid1 {
	display: flex;
	flex-direction: column;
}
.game-grid,
.row {
	display: flex;
	flex-direction: row;
}

.cell {
	width: 200px;
	aspect-ratio: 1;
	border: 1px solid whitesmoke;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
}

.ship {
	background-color: orange;
}

.hit {
	background-color: red;
	pointer-events: none;
}

.miss {
	background-color: lightblue;
}

.attacked {
	/* This is the magic property! It makes the element ignore mouse clicks. */
	pointer-events: none;
}

.grid-row {
	display: flex;
	flex-direction: row;
}

.hidden {
	display: none !important;
}

#game-over {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#game-over .dialogue {
	padding: 3rem;
	width: 50%;
	height: fit-content;
	min-height: 50px;
	background-color: white;
	opacity: 1;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

#game-over-message {
	font-size: 2rem;
}

#game-over button {
	padding: 0.5rem 2rem;
	border: solid 1px grey;
	border-radius: 8px;
	background-color: whitesmoke;
	font-size: 1.5rem;
}
